body{
    font-family: Arial, sans-serif;
    background:linear-gradient(125deg,#1e90ff,#8a2be2);
    justify-content:center;
    display:flex;
    align-items: center;
    height: 100vh;
    background-size: 400% 400%;
    animation: bgAnim 8s ease infinite;
    
}
@keyframes bgAnim{
    0%{ background-position: 0% 50%;}
    50%{ background-position: 100% 50%;}
    100%{ background-position: 0% 50%;}
}
.login-box{
    background:linear-gradient(120deg,#1e90ff,#8a2be2);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    width: 350px;
    flex-direction: column;
    box-shadow:0 4px 30px black;
    animation: fadeSlide 2s ease forwards;


}
@keyframes fadeSlide{
    0%{
        opacity: 0;
        transform: translateY(300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
input{
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 50px;
    margin: 5px 0 5px;

}
button{
    padding: 5px;
    background: black;
    color:#f4f4f2;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 20px 0 10px;
    width: 10px 10px;
    transition: o.3s ease;
    
}
button:hover{
    background-color: blue;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
.loginpage{
    font-size: 23px;
    font-weight: bold;
    font-family: "Comic Sans MS",cursive,sans-serif;
    text-decoration: underline;

}
input:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform:scale(1.02);
    transition: 0.2s;
}
